---
---
<section class="servicios-lista-container">
    <slot />
</section>

<style>
    .servicios-lista-container {
		display: grid;
		gap: 2rem;
		padding: 2rem 0;
	}

	@media (min-width: 768px) {
		.servicios-lista-container {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>